a{color:red;
    text-decoration: none;
}

a:hover{color: green;}

p{font-family: Arial, Helvetica, sans-serif;}

h1+p{font-weight: bold;}

.destaque{
    font-family:Arial, Helvetica, sans-serif;

}

p.destaque{font-weight: bolder;}

strong.destaque{color: red;}

body{background-color:rgb(244, 199, 199) ;}