
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


h1{
    font-family: "Protest Revolution",Arial;
    color: rgb(7, 7, 187);
    background-color: rgb(223, 236, 255);
    font-size: 42px;
}
body{
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    background-color: rgb(190, 209, 255);
    font-size: 16px;
}
