
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body{
    font-family: "Playfair Display", Arial, Helvetica, sans-serif;
    background-color: rgb(255, 209, 139);
    
}
h1{color: orangered;
text-shadow: 1px 1px 1px rgb(120, 53, 30);}

a{
    color:rgb(228, 10, 10);
}