@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Rubik+Doodle+Shadow&family=Tauri&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@600&family=Rubik+Doodle+Shadow&display=swap');

/*paleta de cores:
cor de fundo:#C791FF
cor de fonte:#5F005F
cor de destaque:#568308

*/
html{width: 80%;
max-width: 1280px;
position: center;
height: 100%;
margin: auto;}

body{font-family: "Playfair Display", serif;
   background-color: #C791FF;
   color: #831173;
 
   
}

header{
    background-color: #5F005F;
    text-align: center;
}
header h1{color:rgb(213, 0, 210);
display: inline;
padding-right:  1em;
}

header h2{color: rgb(178, 6, 201);
display: inline;}

f

footer{
    display: flex;
    justify-content: space-evenly;
    margin: 4%;
    flex-wrap: wrap;
}

footer a{color: rgb(52, 0, 36);
    background-color: rgb(185, 0, 179);
    border:rgb(30, 52, 30) 2px solid;
    padding: 0.5em;
   
 }

p{text-indent:1em;}

h1{font-family: 'Rubik Doodle Shadow';
    text-align: center;
font-size:2.5rem;
color:#380b38 ;}

h2{
text-align: center;
font-size: 1.4rem;
}
h3{text-align: center;
font-size: 1.2rem;}

section.intro{ height: 550px ;}

.summary{text-align: right;}

.mainsupporting{text-align: center;
line-height: 1.5;}

abbr{
font-variant: small-caps;
}

aside ul{list-style-type: none;}
aside ul li{
    margin: 1em;
    text-align: center;
}

#design-archives{display: none;}

.page-wrapper{position: relative;}
.explanation{width: 60%;
margin-right: 35%;
border-right: solid 1px #1f295c ;
padding-right:2%;}

#design-selection{
    position: absolute;
    top: 520px;
    left: 62%;
    padding-left:1%;
    padding-right:1%;

}
#zen-participation{
    margin-top: 6%;
}

.benefits{
    display: flex;
    border-bottom: #380b38 solid 2px;
    border-top: #380b38 solid 2px;
}
.benefits h3{
    order:2 ;
    align-self:  center; 
    flex-basis: 30%; 
   
}
.zen-benefits p{flex-basis: 70%;}

.participation{
    display: flex;
    flex-wrap: wrap;
    border-top: #380b38 2px solid;
}
.participation h3, .participation p{
    flex-basis: 50%;
  }
.participation h3{align-self: center;}















