@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Rubik+Doodle+Shadow&family=Tauri&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@600&family=Rubik+Doodle+Shadow&display=swap');

/*paleta de cores:
cor de fundo:#C791FF
cor de fonte:#5F005F
cor de destaque:#568308

*/
body{font-family: "Playfair Display", serif;
   background-color: #C791FF;
   display: flex;
   height: 100%;
   margin: 2px;
   width: 100%;
   color: #831173;
 
   
}

h1{font-family: 'Rubik Doodle Shadow';
    font-size: 2.5em;
color:#5F005F ;
}

p{text-indent:1em;}

h1{text-align: center;
font-size:1.8rem;}

h2{
text-align: center;
font-size: 1.4rem;
}
h3{text-align: center;
font-size: 1.2rem;}

.summary{text-align: right;}

.mainsupporting{text-align: center;
line-height: 1.5;}

abbr{
font-variant: small-caps;
}








